.Container {
	display: grid;
	grid-gap: 50px 40px;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	grid-template-rows: auto;
	justify-items: center;
	padding: 40px 100px;
	margin-top: 40px;
}

@media only screen and (max-width: 902px) {
	.Container {
		grid-gap: 20px 0px;
		grid-template-columns: (300px, 500px);
		padding: 25px 0;
	}
}
