.MovieCard__div--container {
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.301);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 1%;
  width: 350px;
  transition: .15s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);
    transition: .15s;
  }
}

.MovieCard__img--poster {
  height: 525px;
  width: 350px;
}

.MovieCard__footer {
  background: linear-gradient(
    -0.25turn,
    rgb(3, 190, 103),
    rgb(3, 204, 110),
    rgb(25, 211, 124),
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white
  );
  text-align: center;
  height: 60px;
  margin: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  width: 100%;
}

.MovieCard__h3--title {
  margin: 0;
  margin-left: 20px;
  margin-top: 2%;
  padding: 0;
  width: 75%;
  text-align: left;
  padding-bottom: 6px;
}

.button-container {
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 4px;
    border-radius: 1px;
  }
}

.stick-1 {
  transform: rotate(90deg);
  height: 22px;
  background-color: rgba(255, 255, 255, 0.918);
  position: absolute;
  z-index: 0;
  transition: .2s;
}

.stick-2 {
  background-color: rgb(255, 255, 255);
  height: 22px;
  transition: .2s;
}

.stick-1-active {
  transform: rotate(40deg);
  height: 23px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin-left: 5px;
  transition: .2s;
  border-radius: 0px;
}

.stick-2-active {
  height: 8px;
  margin-right: 11px;
  background-color: rgba(255, 255, 255, 0.911);
  transform: rotate(-49deg);
  margin-top: 7px;
  transition: .2s;
  border-radius: 0px;
}