.search-button {
	width: 120px;
	color: rgb(3, 179, 97);
	font-size: 24px;
	margin-bottom: 6px;
	font-weight: 600;
	transition: .2s;
	cursor: pointer;
	
	&:hover {
		color: rgb(2, 141, 71);
		transition: .2s;
	}
	
	&:focus {
		outline: none;
	}
}

.SearchBar {
	position: absolute;
	left: 30.6%;
	top: 250px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.315);
	background: rgb(255, 255, 255);
	padding: 10px 15px 4px 11px;
	border-radius: 50px;

	button {
		border-radius: 2px;
		padding: 10px 20px;
		height: 50px;
		border: none;
	}

	input {
		color: rgb(255, 255, 255);
		border-radius: 30px 5px 5px 30px;
		color: black;
		padding: 2px 20px 4px 20px;
		padding-left: 20px;
		border: none;
		margin-right: 5px;
		border: 1px solid rgba(194, 194, 194, 0);
		width: 420px;
		height: 50px;
		font-size: 23px;
		transition: .2s;

		&:focus {
			outline: none;
			border: 1px solid rgb(194, 194, 194);
			transition: .2s;
		}
	}
}
