.Footer {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 70px;
  background: linear-gradient(to bottom, rgb(68, 68, 68), rgb(29, 29, 29));
  border-top: 3px solid rgb(59, 59, 59);

  img {
    height: 60px;
  }
}