.modal-backdrop {
  width: 100vw;
  height: 110vh;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_%281880%E2%80%931901%29.svg/2000px-Flag_of_Afghanistan_%281880%E2%80%931901%29.svg.png);
  background-position: center top;
  background-size: cover;
  opacity: 0.8;
  transform: translate3d(-50%, -50%, 0);
  object-fit: cover;
  z-index: 1;
}

.modal-container {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px 6px 4px 4px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.301);
  min-width: 20rem;
  max-width: 60rem;
  border-bottom: 8px solid rgb(17, 148, 87);
  width: 500px;
  height: 600px;
  background: linear-gradient(to top left, rgb(17, 148, 87), white, white, white, white);

  li {
    width: 250px;
    list-style-type: none;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 10px 0;
  }

  ul {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }
}

.form-navlink {
  text-decoration: none;
  border-radius: 4px 4px 0 0;
  color: white;
  transition: .15s;

  &:hover {
    background: rgb(0, 0, 0);
    transition: .2s;
  }
}

.active {
  color: rgb(27, 27, 27);
  background: white;
  border-radius: 4px 4px 0 0;

  &:hover {
    background: white;
  }
}

.modal-tabs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background: rgb(41, 41, 41);
}