.Nav__container {
  height: 500px;
  background-position: center top;
  background-size: cover;
  width: 100%;
  background-image: linear-gradient(to bottom, white, black);
  color: rgb(31, 31, 31);
}

.link-wrapper {
  position: relative;
  display: block;
}

.hover-1 {
  &:after {
      content:'';
      position: absolute;
      width: 70%;
      height: 3px;
      bottom: 0;
      left: 19px;
      background-color: rgb(1, 146, 73);
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.15s;
  }

  &:hover {
      &:after {
          transform-origin: bottom left;
          transform: scaleX(1);
      }
  }
}

.hover-home {
  &:after {
      content:'';
      position: absolute;
      width: 48%;
      height: 3px;
      bottom: 0;
      left: 34px;
      background-color: rgb(1, 146, 73);
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.15s;
  }

  &:hover {
      &:after {
          transform-origin: bottom left;
          transform: scaleX(1);
      }
  }
}

.Nav {
  align-items: center;
  background: transparent;
  display: flex;
  height: 75px;
  margin: auto;
  width: 93%;
  padding-right: 20px;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  li {
    justify-content: space-between;
    width: 130px;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    padding-top: 12.5px;
  }

  a {    
    text-decoration: none;
    font-size: 1.4em;
    color: white;
    font-weight: 500;
    transition: .2s;

    &:hover {
      color: rgb(0, 182, 91);
      transition: .2s;
    }
  }

  h1 {
    margin-left: 25px;
    font-size: 2em;
    color: white;
    cursor: default;
  }
}